@inject IBluetoothNavigator Bt
@inject OscService Osc
@using Blazor.Bluetooth
@using FitOSC.Shared.Components.UI
@using FitOSC.Shared.Services
@using Blazored.LocalStorage

@inject ILocalStorageService LocalStorage

<SettingsModal @ref="SettingsModal" OnClose="OnSettingsClose"/>
<TestModal @ref="TestModal"  Device="_ftmsLogic" />

<div class="app-center">

    <div class="app-header-title">Fit OSC</div>
    
    
    <div class="app-controls-container @(_mainViewOption == MainViewOption.Select ? "show" : "")">
        <div class="app-controls">
            <button @onclick="RequestDevice"> Connect To Device</button>
        </div>
        @if (!OperatingSystem.IsBrowser())
        {
            <div class="app-divider">
                <div>Or</div>
            </div>
            <div class="app-controls">
                <button @onclick="NoDeviceMode"> No Device Mode</button>
            </div>
        }
    </div>
        
    <div class="app-controls-container @(_mainViewOption == MainViewOption.Check ? "show" : "")">
        <div class="app-controls" style="flex-direction: column;">
            <ChecklistItem Checked="@_checklist?.IsIdentified" Show="@(_checklist != null)" 
                           Title="Identifying Device" />
            <ChecklistItem Checked="@_checklist?.IsIdentified" Show="@(_checklist?.InterfaceType != null)"
                           Title="@(_checklist?.InterfaceType?.Name)" /> 
        </div>
   
    </div>
        
    <div class="app-controls-container @(_mainViewOption == MainViewOption.Run ? "show" : "")">
        <InfoPanel @ref="@InfoPanel"
                   Data="_liveData"
                   LastSession="@_lastSession"

                   @bind-Config="_config"
                   FtmsLogic="_ftmsLogic"
                   NoDeviceMode="_noDeviceMode"
                   Walk="_walk"
                   WalkChanged="SetWalkingState"
                   OnDisconnect="DisconnectDevice"
                   @bind-TrimSpeed="_trimSpeed"/>
    </div>
    
    
    <div class="app-config-container">
 
        <SettingButton Icon="fa-solid fa-cog" Label="Config" OnClick="OpenSettings" />
        <SettingButton Icon="fa-solid fa-flask-vial" Label="Feature Test" OnClick="OpenTest" Disable="@(_ftmsLogic==null)"/>
        @if (!OperatingSystem.IsBrowser())
        {
            <SettingButton Icon="fa-solid fa-tower-broadcast" Label="Reset OSC" OnClick="@(()=> Osc?.RestartService())"/>
        }
    </div>

    <div class="app-support-container">
        <SocialMediaButton ImageUri="_content/FitOSC.Shared/images/dev-icon.png" Uri="https://x.com/Duinrahaic" Label="Twitter" />
        <SocialMediaButton ImageUri="_content/FitOSC.Shared/images/github-mark-white.png" Uri="https://github.com/duinrahaic" Label="Github" />
        <SocialMediaButton ImageUri="_content/FitOSC.Shared/images/kofi-logo-white.png" Uri="https://ko-fi.com/duinrahaic" Label="Ko-Fi" />
    </div>
</div>