@using Blazored.LocalStorage
@using FitOSC.Shared.Config
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

@inject ILocalStorageService LocalStorage


<div class="app-modal-container @(_open ? "open" : string.Empty )">
    <div class="app-modal-background" @onclick="HideModal"></div>
    <div class="app-modal">
        <div class="app-modal-header">
            <div class="app-modal-header-title">
                Settings
            </div>
            <div class="app-modal-header-close"  @onclick="HideModal">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="app-modal-body">
            <div class="app-modal-body-container">
                <EditForm Model="_config" OnValidSubmit="OnValidSubmit" id="settings">
                    <DataAnnotationsValidator/>
                    <div class="app-modal-body-content-item">
                        <label for="is-metric">Use Metric Units</label>
                        <InputCheckbox id="is-metric" @bind-Value="@_config.IsMetric"/>
                        <ValidationMessage For="() => _config.IsMetric"/>
                    </div>
                    <div class="app-modal-body-content-item">
                        <label for="equipment-min-speed">Equipment Min Speed</label>
                        <InputNumber id="equipment-min-speed" @bind-Value="@_config.EquipmentMinSpeed"/>
                        <ValidationMessage For="() => _config.EquipmentMinSpeed"/>
                    </div>
                    <div class="app-modal-body-content-item">
                        <label for="equipment-max-speed">Equipment Max Speed</label>
                        <InputNumber id="equipment-max-speed" @bind-Value="@_config.EquipmentMaxSpeed"/>
                        <ValidationMessage For="() => _config.EquipmentMaxSpeed"/>
                    </div>
                    <div class="app-modal-body-content-item">
                        <label for="equipment-max-speed-add">Increment Amount</label>
                        <InputNumber id="equipment-max-speed-add" @bind-Value="@_config.IncrementAmount"/>
                        <ValidationMessage For="() => _config.IncrementAmount"/>
                    </div>
                    <div class="app-modal-body-content-item">
                        <label for="default-speed">Default Speed (kmh)</label>
                        <InputNumber id="default-speed" @bind-Value="@_config.DefaultSpeed"/>
                        <ValidationMessage For="() => _config.DefaultSpeed"/>
                    </div>
                </EditForm>
            </div>
     
        </div>
        <div class="app-modal-footer">
            <button type="submit" form="settings">Save</button>
        </div>
    </div>
</div>




@code
{
    [Parameter] public EventCallback OnClose { get; set; }
    
    private FitOscConfig _config = new FitOscConfig();
    private bool _open = false;
    
    public async Task OpenModal()
    {
        _config = await LocalStorage.GetConfig();
        _open = true; 
    }
    
    private async Task OnValidSubmit(EditContext ctx)
    {
        await LocalStorage.SetConfig(_config);
        _open = false;
        await OnClose.InvokeAsync();
    }


    private async Task HideModal()
    {
        _open = false;
        Console.WriteLine("Modal Closed");
        this.StateHasChanged();
        await OnClose.InvokeAsync();
    } 
}